.label {
  position: relative;
  min-width: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  padding-block: 2px;
}

.text {
  padding-left: 30px;
}

.input {
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  visibility: visible;
}

.checkbox {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  transform: translateY(-50%);
}

.input:checked + .checkbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 16px;
  background-color: var(--text-color);
  color: var(--section-color);
  content: "✔";
  transform: translate(-50%, -50%);
}

.input:focus + .checkbox {
  box-shadow: 0 0 0 2px #0080ff;
}

/* variants */

.default {
  color: var(--text-color);
  font-size: 16px;
}
