.badge {
  display: inline-block;
}

.icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Types */

.ordinary {
  background-color: #a78a84;
}

.rare {
  background-color: #53cf6e;
}

.average {
  background-color: #478bf1;
}

.epic {
  background-color: #c94ec4;
}

.legendary {
  background-color: #ff4848;
}

.common {
  background-color: var(--section-color);
}

/* Variants */

.default {
  padding: 2px 12px;
  border-radius: 4px;
}

.rounded {
  width: 24px;
  height: 24px;
  border: 1px solid var(--primary-color);
  border-radius: 200px;
}
