.card {
  display: flex;
  max-width: 320px;
  height: 120px;
  border: 1px solid var(--primary-color2);
  border-radius: 4px;
  background-color: var(--section-color);
  gap: 10px;
}

.image_block {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.content {
  padding-right: 20px;
  padding-block: 20px;
}

.rare {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 12px;
}

.icon {
  width: 16px;
  height: 16px;
}

.title {
  margin-bottom: 4px;
}

.text {
  margin-bottom: 20px;
}
