:root {
  --accent-color: #ff4646;
  --background-color: #171717;
  --section-color: #262626;
  --primary-color: #f0efef;
  --primary-color9: rgb(240 239 239 / 90%);
  --primary-color8: rgb(240 239 239 / 80%);
  --text-color: #d1cece;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
